$navbar-color: #221f1f;
$navbar-icons-color: #3c3c3c;
$navbar-icons-hover-color: red;
$link-hover-color: red;
$navbar-text-color: white;
$blue-color: #3cb4e7;
$red-color: #f87a7a;
$carousel-caption-color: red;
$carousel-control-color: red;
$carousel-control-border-color: black;
$carousel-control-border-hover: white;
$background: rgba(34, 31, 31, .90);
$text-color: white;